@model KYC_WebPlatform.Models.OtpViewModel

@{
    ViewBag.Title = "OtpView";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portal</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="~/assets/plugins/fontawesome/js/all.min.js"></script>

    <!-- App CSS -->
    <link id="theme-style" rel="stylesheet" href="~/assets/css/portal.css">

</head>

<body class="app app-reset-password p-0">
    <div class="row g-0 app-auth-wrapper">
        <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
            <div class="d-flex flex-column align-content-end">
                <div class="app-auth-body mx-auto">
                    <div class="app-auth-branding mb-4"><a class="app-logo" href="index.html"><img class="logo-icon me-2" src="~/assets/images/pegpay_logo.jpeg" alt="logo"></a></div>
                    <h2 class="auth-heading text-center mb-4">Verify your email address</h2>

                    <div class="auth-intro mb-4 text-center">Enter the OTP we sent to your email address below. We'll email you a link to your page shortly afterwards. It expires in 5 minutes</div>

                        <input type="hidden" name="Email" value="@ViewBag.Email" />
                        @using (Html.BeginForm("VerifyOtp", "Login", FormMethod.Post, new { @class = "auth-form resetpass-form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="auth-form-container text-start">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="email mb-3">
                                    <label class="sr-only" for="signin-email">Enter OTP</label>
                                    @Html.EditorFor(model => model.Otp, new { htmlAttributes = new { @class = "form-control signin-email", placeholder = "OTP", required = true } })
                                    @Html.ValidationMessageFor(model => model.Otp, "", new { @class = "text-danger" })
                                </div><!--//form-group-->

                                <div class="text-center">
                                    <button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto">Enter</button>
                                </div>

                                @if (ViewBag.ErrorMessage != null)
                                {
                                    <div class="alert alert-danger mt-3">
                                        @ViewBag.ErrorMessage
                                    </div>
                                }
                                @if (ViewBag.SuccessMessage != null)
                                {
                                    <div class="alert alert-success mt-3">
                                        @ViewBag.SuccessMessage
                                    </div>
                                }
                            </div><!--//auth-form-container-->
                        }

                </div><!--//auth-body-->

            </div><!--//flex-column-->
        </div><!--//auth-main-col-->
        <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
            <div class="auth-background-holder">
            </div>
            <div class="auth-background-mask"></div>
            <div class="auth-background-overlay p-3 p-lg-5">
                <div class="d-flex flex-column align-content-end h-100">
                    <div class="h-100"></div>
                </div>
            </div><!--//auth-background-overlay-->
        </div><!--//auth-background-col-->

    </div><!--//row-->


</body>
</html>



