@model KYC_WebPlatform.Models.LoginDto

@{
    ViewBag.Title = "UpdatePassword";
    Layout = null;
}

@*<h2>UpdatePassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LoginDto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portal</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="~/assets/plugins/fontawesome/js/all.min.js"></script>

    <!-- App CSS -->
    <link id="theme-style" rel="stylesheet" href="~/assets/css/portal.css">
    <link id="theme-style" rel="stylesheet" href="~/assets/css/custom.css">

</head>

<body class="app app-reset-password p-0">
    <div class="row g-0 app-auth-wrapper">
        <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
            <div class="d-flex flex-column align-content-end">
                <div class="app-auth-body mx-auto">
                    <div class="app-auth-branding mb-4"><a class="app-logo" href="index.html"><img class="logo-icon me-2" src="~/assets/images/pegpay_logo.jpeg" alt="logo"></a></div>
                    <h2 class="auth-heading text-center mb-4">Password Reset</h2>

                    <div class="auth-intro mb-4 text-center">Enter your new password below. We'll link you to the login page to resign in with your new password.</div>

                    <input type="hidden" name="Email" value="@ViewBag.Email" />
                    @using (Html.BeginForm("UpdatePassword", "Login", FormMethod.Post, new { @class = "auth-form resetpass-form" }))
                    {
                        @Html.AntiForgeryToken()

                <div class="auth-form-container text-start">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="password mb-3">
                        <label class="sr-only" for="signin-password">Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control signin-password", id = "signin-password", placeholder = "Password", type = "password", required = true })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    </div><!--//form-group-->

                    <div class="text-center">
                        <button type="submit" class="btn btn-custom w-100 theme-btn mx-auto">Change Password</button>
                    </div>

                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger mt-3">
                            @ViewBag.ErrorMessage
                        </div>
                    }
                    @if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-success mt-3">
                            @ViewBag.SuccessMessage
                        </div>
                    }
                </div><!--//auth-form-container-->
                    }

                </div><!--//auth-body-->

            </div><!--//flex-column-->
        </div><!--//auth-main-col-->
        <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
            <div class="auth-background-holder">
            </div>
            <div class="auth-background-mask"></div>
            <div class="auth-background-overlay p-3 p-lg-5">
                <div class="d-flex flex-column align-content-end h-100">
                    <div class="h-100"></div>
                </div>
            </div><!--//auth-background-overlay-->
        </div><!--//auth-background-col-->

    </div><!--//row-->


</body>
</html>