@model KYC_WebPlatform.Models.SignupDto

@{
    ViewBag.Title = "Create User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    if (Session["Email"] == null)
    {
        // Redirect to the login page if the email session is not set
        Response.Redirect(Url.Action("Index", "Login"));
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>KYC Portal </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="~/assets/plugins/fontawesome/js/all.min.js"></script>

    <!-- App CSS -->
    <link id="theme-style" rel="stylesheet" href="~/assets/css/portal.css">
    <link id="theme-style" rel="stylesheet" href="~/assets/css/custom.css">
</head>

<body class="app">

    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <h1 class="app-page-title">Add User</h1>
                <hr class="mb-4">

                <!-- Form -->
                @using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post, new { @class = "settings-form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row g-4 settings-section">
                        <div class="col-12 col-md-4">
                            <h3 class="section-title">General</h3>
                            <div class="section-intro">Enter the details for the intended user profile</div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="app-card app-card-settings shadow-sm p-4">
                                <div class="app-card-body">
                                    <div class="mb-3">
                                        <label for="Username" class="form-label">
                                            Username
                                            <span class="ms-2" data-container="body" data-bs-toggle="popover" data-trigger="hover" data-placement="top" data-content="This is a Bootstrap popover example. You can use popover to provide extra info.">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                                    <circle cx="8" cy="4.5" r="1" />
                                                </svg>
                                            </span>
                                        </label>
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", required = true })

                                    </div>

                                    <div class="mb-3">
                                        <label for="PhoneNumber" class="form-label">Business Phone Number</label>
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone Number", required = true })
                                    </div>
                                    <div class="mb-3">
                                        <label for="Email" class="form-label">Email Address</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address", type = "email" })
                                    </div>
                                    <div class="mb-3">
                                        <label for="Password" class="form-label">Password</label>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = true })
                                    </div>
                                    <div class="mb-3">
                                            <label for="Role" class="form-label">Role</label>
                                            @Html.DropDownListFor(m => m.Role, new SelectList(Enum.GetValues(typeof(KYC_WebPlatform.Models.UserRole))), "Select a Role", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })
                                        </div>
                                    <button type="submit" class="btn btn-custom">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger mt-3">
                            @ViewBag.ErrorMessage
                        </div>
                    }
                    if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-success mt-3">
                            @ViewBag.SuccessMessage
                        </div>
                    }
                }

                <div>
                    @Html.ActionLink("Back", "ViewClients")
                </div>
            </div>
        </div>
    </div>

    <!-- App JS -->
    <script src="~/assets/js/app.js"></script>
</body>
</html>