
@{
    ViewBag.Title = "Legal";
    Layout = "~/Views/Shared/_BusinessLayout.cshtml";

}

<h2>Legal</h2>

@model Dictionary<string, List<object>>

<body class="app">
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <h1 class="app-page-title"> Pending Approvals</h1>
                <div class="row g-4 mb-4">
                    @if (Model == null)
                    {
                        foreach (var row in Model)
                        {
                            <a href="@Url.Action("GetFiles", "Approvals", new { BusinessId = row.Value[0], BusinessName = row.Value[1], fileCount = row.Value[2] @* fileCount = row.Value[3]*@ })" class="col-12 col-lg-6">

                                <div class="app-card app-card-chart h-100 shadow-sm">
                                    <div class="app-card-header p-3 border-0">
                                        <h4 class="app-card-title">@{System.Diagnostics.Debug.WriteLine(row.Value.ToString()); }</h4>
                                    </div><!--//app-card-header-->
                                    <div class="app-card-body p-4">
                                        <div class="chart-container">
                                            BusinessId: @row.Value[0]
                                            <br />
                                            BusinessName: @row.Value[1]
                                            <br />
                                            Pending file count: @row.Value[2]
                                        </div>
                                    </div><!--//app-card-body-->
                                </div><!--//app-card-->
                            </a>

                        }

                    }
                </div><!--//row-->

                <div class="col-12">
                    @foreach (var row in Model)
                    {
                        <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start mb-4">

                            <div class="app-card-header p-3 border-bottom-0">
                                <div class="row align-items-center gx-3">
                                    <div class="col-auto">
                                        <div class="app-icon-holder">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-sliders" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z" />
                                            </svg>
                                        </div><!--//icon-holder-->
                                    </div><!--//col-->
                                    <div class="col-auto">
                                        <h4 class="app-card-title">Business Info</h4>
                                    </div><!--//col-->
                                </div><!--//row-->
                            </div><!--//app-card-header-->

                            <div class="app-card-body px-4 w-100">
                                <div class="item border-bottom py-3">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="item-label"><strong>Business ID</strong></div>
                                            <div class="item-data">@row.Value[0]</div>
                                        </div><!--//col-->
                                    </div><!--//row-->
                                </div><!--//item-->

                                <div class="item border-bottom py-3">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="item-label"><strong>Business Name</strong></div>
                                            <div class="item-data">@row.Value[1]</div>
                                        </div><!--//col-->
                                    </div><!--//row-->
                                </div><!--//item-->

                                <div class="item border-bottom py-3">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="item-label"><strong>Number of files</strong></div>
                                            <div class="item-data">@row.Value[2]</div>
                                        </div><!--//col-->
                                    </div><!--//row-->
                                </div><!--//item-->
                            </div><!--//app-card-body-->

                            <div class="app-card-footer p-4 mt-auto">
                                <a href="@Url.Action("GetFiles", "Approvals", new { BusinessId = row.Value[0], BusinessName = row.Value[1], fileCount = row.Value[2] })" class="btn app-btn-secondary">Approve File</a>
                            </div><!--//app-card-footer-->

                        </div><!--//app-card-->
                    }
                </div>

                <hr class="my-4">
            </div>
        </div>
    </div>
</body>
